:root {
    /* === THEME COLORS === */
    --background-color: #111111;
    --content-background-color: #171717;
    --white-color: 243 241 255;
    --primary-color-base: 0 255 224; /* #00FFE0 */
    --primary-color: rgb(var(--primary-color-base));
    --primary-color-2: rgb(var(--primary-color-base) / 35%);
    --primary-color-darker: #0F2926;
    --text-color: #F3F1FF;
    --border-color: #434343;
    --border-color-gray: rgb(var(--white-color) / 50%);;
    --subtitle-color: #A4A4A4;
    --negative: #f97600;
    --danger: #fe3033;
    --grey: #828282;

    /* === FONTS === */
    --font-family-screener: "Screener", "sans-serif";
    --font-family-supreme: "Supreme", "monospace";

    /* ===== BORDERS ===== */
    --border-gray-dashed: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23828282FF' stroke-width='2' stroke-dasharray='4 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
