@font-face {
    font-family: Supreme;
    src: url("/fonts/supreme.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: Screener;
    src: url("/fonts/screener.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
